* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #262626;
    font-family: arial, sans-serif;
}

.sec1 {
    height: 600px;
    background-color: #EDFF57;
    transform: skewY(-10deg) translateY(-120px);
    display: flex;
    justify-content: center;
    align-items: center
}

.sec1 .container {
    width: 80%;
    transform: skewY(10deg);
}

.container h1 {
    font-size: 3rem;
    margin: 1.5rem 0;
}

.container p {
    height: 100px;
    line-height: 1.5;
    font-size: 1.2rem;
}

.sec2 {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #FFF;
    padding: 0 100px;
}

